/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	/* cores base do Vidane.com.br*/
	--licorice: #1a120b;
	--bistre: #3c2a21;
	--dark-vanilla: #d5cea3;
	--dirty-white: #e5e5cb;

	--russian-violet-dark: #30003a;
	--russian-violet: #440052;
	--russian-violet-light: #8500a0;
	--buff: #eba77d;
	--lion: #b38553;
	--gamboge: #f3991a;
	--gamboge-light: #ffb956;

}

body {
	font-family: 'Yusei Magic', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
}

.photo {
	display: flex;
}

.primary-main {
	background: var(--russian-violet-dark);
	color: var(--dirty-white);
}

.primary-main a {
	color: var(--lion);
}

.primary-main a:hover {
	color: var(--gamboge);
}

.primary-main .title {
	border: 0.2em dotted var(--gamboge);
}

.secondary-main {
	background: var(--gamboge-light);
	color: var(--russian-violet);
}

.secondary-main a {
	color: var(--russian-violet-dark);
}

.secondary-main a:hover {
	color: var(--russian-violet-light);
}

.secondary-main .title {
	border: 0.2em dotted var(--licorice);
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 1em 1em;
}

p {
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
	text-align: center;
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.35em;
}

strong,
b {
	font-weight: 700;
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	border: none;
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.title {
	border-radius: 2em;
	padding: 0.6em 1em 0.1em;
}

.icons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1em;
	margin: 2em auto;
}

.icons a {
	display: flex;
	text-decoration: none;
}

.podcasts {
	display: grid;
	gap: 8px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.podcast {
	margin: 1em auto;
}

.podcast-name {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.5em;
	margin: 0 auto 0.2em;
}

.podcast-name h5 {
	margin: 0;
	color: var(--dirty-white);
	filter: drop-shadow(0px 4px 0px var(--russian-violet)) 
		drop-shadow(0px 2px 0px var(--russian-violet-light))
		drop-shadow(1px 0px 0px var(--russian-violet)) 
		drop-shadow(1px 0px 0px var(--russian-violet-light))
		drop-shadow(0px 0px 1px var(--russian-violet)) 
		drop-shadow(0px 0px 1px var(--russian-violet-light))
		drop-shadow(0px 0px 0px var(--russian-violet)) 
		drop-shadow(0px 0px 0px var(--russian-violet-light));
}

.podcast .podcast-image {
	text-align: center;
	margin: auto 1em;
}

.podcast-description {
	display: flex;
	align-items: center;
	justify-content: center;
}

.podcast-description p {        
	margin: 0.4em 0.4em;
}