---
import '@fontsource/yusei-magic';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Photo from '../components/Photo.astro';
import About from '../components/About.astro'
import Contact from '../components/Contact.astro'
import Podcasts from '../components/Podcasts.astro';
import Videos from '../components/Videos.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Photo image="/_main-bg.jpg"/>
		<About />
		<Podcasts />
		<!--<Videos />-->
		<Photo image="/_contato-bg.jpg"/>
		<Contact />
		<Footer />
	</body>
</html>
