<div id="About">
	<main>
		<div class="title">
			<h2>Já fiz de tudo na internet, menos sucesso</h2>
		</div>
		<div class="text">
			<p>Meu nome é Vitor Faglioni Rossi. Eu sou formado em Ciências da Computação pela USP – São Carlos (ou melhor dizendo, o CAASO).</p>
			
			<p>Trabalhei por 9 anos na área de tecnologia: fui analista desenvolvedor de software, passei a ser líder de equipe e trabalhei como gerente de projetos em diversos papeis (PM, Scrum Master, Product Owner, por aí vai...).</p>

			<p>Mas pode ser que você tenha me conhecido como John Vee Jones, que participava dos fóruns de MUGEN (como a MugenBR, principalmente, de onde fui moderador) ou do Zelda.Com.Br (onde até mesmo participei da tradução das roms de alguns jogos).</p>
				
			<p>Ou mesmo tenha ouvido falar de mim como o Vitor, que dublava Rebosteio e respondia os comerdários.</p>
			
			<p>Talvez ouviu falar de mim como o Vitinho em alguns podcasts como o Radiofobia e o Pauta Livre News.</p>

			<p>Hoje, eu carrego o nome de Príncipe Vidane, que cria conteúdo pra internet - em especial, podcasts. Talvez seja por isso que você veio parar aqui.</p>

			<p>Mas é muito mais provável que você nem me conheça.</p>

			<p>A verdade é que já produzi muita coisa, algumas das quais você pode ter ouvido falar. Ou não. E tá tudo bem com isso.</p>
		</div>

		<p>
			<div class="icons">
				<a href="https://twitter.com/principevidane" target="_blank">
					<span class="sr-only">Twitter</span>
					<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24">
						<path fill="currentColor" d="M21.543 7.104c.015.211.015.423.015.636c0 6.507-4.954 14.01-14.01 14.01v-.003A13.94 13.94 0 0 1 0 19.539a9.88 9.88 0 0 0 7.287-2.041a4.93 4.93 0 0 1-4.6-3.42a4.916 4.916 0 0 0 2.223-.084A4.926 4.926 0 0 1 .96 9.167v-.062a4.887 4.887 0 0 0 2.235.616A4.928 4.928 0 0 1 1.67 3.148a13.98 13.98 0 0 0 10.15 5.144a4.929 4.929 0 0 1 8.39-4.49a9.868 9.868 0 0 0 3.128-1.196a4.941 4.941 0 0 1-2.165 2.724A9.828 9.828 0 0 0 24 4.555a10.019 10.019 0 0 1-2.457 2.549"/>
					</svg>
				</a>
				<a href="https://instagram.com/principevidane" target="_blank">
					<span class="sr-only">Instagram</span>
					<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24">
						<path fill="currentColor" d="M7.03.084c-1.277.06-2.149.264-2.91.563a5.874 5.874 0 0 0-2.124 1.388a5.878 5.878 0 0 0-1.38 2.127C.321 4.926.12 5.8.064 7.076C.008 8.354-.005 8.764.001 12.023c.007 3.259.021 3.667.083 4.947c.061 1.277.264 2.149.563 2.911c.308.789.72 1.457 1.388 2.123a5.872 5.872 0 0 0 2.129 1.38c.763.295 1.636.496 2.913.552c1.278.056 1.689.069 4.947.063c3.257-.007 3.668-.021 4.947-.082c1.28-.06 2.147-.265 2.91-.563a5.881 5.881 0 0 0 2.123-1.388a5.881 5.881 0 0 0 1.38-2.129c.295-.763.496-1.636.551-2.912c.056-1.28.07-1.69.063-4.948c-.006-3.258-.02-3.667-.081-4.947c-.06-1.28-.264-2.148-.564-2.911a5.892 5.892 0 0 0-1.387-2.123a5.857 5.857 0 0 0-2.128-1.38c-.764-.294-1.636-.496-2.914-.55C15.647.009 15.236-.006 11.977 0C8.718.008 8.31.021 7.03.084m.14 21.693c-1.17-.05-1.805-.245-2.228-.408a3.736 3.736 0 0 1-1.382-.895a3.695 3.695 0 0 1-.9-1.378c-.165-.423-.363-1.058-.417-2.228c-.06-1.264-.072-1.644-.08-4.848c-.006-3.204.006-3.583.061-4.848c.05-1.169.246-1.805.408-2.228c.216-.561.477-.96.895-1.382a3.705 3.705 0 0 1 1.379-.9c.423-.165 1.057-.361 2.227-.417c1.265-.06 1.644-.072 4.848-.08c3.203-.006 3.583.006 4.85.062c1.168.05 1.804.244 2.227.408c.56.216.96.475 1.382.895c.421.42.681.817.9 1.378c.165.422.362 1.056.417 2.227c.06 1.265.074 1.645.08 4.848c.005 3.203-.006 3.583-.061 4.848c-.051 1.17-.245 1.805-.408 2.23c-.216.56-.477.96-.896 1.38a3.705 3.705 0 0 1-1.378.9c-.422.165-1.058.362-2.226.418c-1.266.06-1.645.072-4.85.079c-3.204.007-3.582-.006-4.848-.06m9.783-16.192a1.44 1.44 0 1 0 1.437-1.442a1.44 1.44 0 0 0-1.437 1.442M5.839 12.012a6.161 6.161 0 1 0 12.323-.024a6.162 6.162 0 0 0-12.323.024M8 12.008A4 4 0 1 1 12.008 16A4 4 0 0 1 8 12.008"/>
					</svg>
				</a>
			</div>
		</p>

	</main>
</div>
