<div id="About" class="primary-main">
	<main>
		<div class="title">
			<h2>Recentemente, resolvi me aventurar na comédia</h2>
		</div>
		<div>
			<p>Fiz meu primeiro Open Mic em 10 de Outubro de 2024, num show do comediante Paulo Mansur.</p>	
		</div>
		<div>
			<iframe width="100%" height="315" src="https://www.youtube.com/embed/sSfbXZeWon0?si=eCIF776URf_mpW_c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</div>
		<div>
			<p>Segue a gravação diretamente do Clube Barbixas, em São Paulo/SP.</p>		
		</div>
	</main>
</div>
