<div id="Contact" class="primary-main">
	<main>
		<div class="title">
			<h2>Contatinho</h2>
		</div>
		<div>
			<p>Pode me encontrar nas redes sociais.</p>

			<p>Mas também pode mandar um e-mail para <a href="mailto:johnveejones@gmail.com">johnveejones@gmail.com</a> que vai pipocar uma notificação gostosa no meu celular.</p>
		</div>
	</main>
</div>