<div id="Contact">
	<main>
		<div class="title">
			<h2>Contatinho</h2>
		</div>
		<div class="text">
			<p>Pode me encontrar nas redes sociais.</p>

			<p>Mas também pode mandar um e-mail para <a href="mailto:johnveejones@gmail.com">johnveejones@gmail.com</a> que vai pipocar uma notificação gostosa no meu celular e eu vou ser obrigado a ler (para fazê-la sumir).</p>
		</div>
	</main>
</div>