---
const { name, amount, description, isReward } = Astro.props;
---
<h4>{name}:</h4>
{isReward && <p><strong>A partir de:</strong></p>}
<h1>R$ {amount},00</h1>
<p>{description}</p>

<p><br/></p>

<style>
    h1 {
		text-align: center;
		color: var(--laranja-claro);
		margin: auto;
	}
    
    h4 {
		color: var(--laranja-escuro);
	}
   
    p {
		color: var(--azul-medio);
		text-align: center;
		margin: 1em auto 0;
	}
</style>