---
const urlApoiaSe = 'https://apoia.se/peladananet'
const urlPatreon = 'https://www.patreon.com/peladananetpodcast'
---

<p>
    <div class="icons">
        <a href={urlApoiaSe} target="_blank">
            <span class="sr-only">Apoia.se</span>
            <svg xmlns="http://www.w3.org/2000/svg"	viewBox="0 0 437.01334 91.613335" height="91.613335" width="437.01334" xml:space="preserve"	version="1.1">
                <g transform="matrix(1.3333333,0,0,-1.3333333,0,91.613333)"	id="g10">
                    <g transform="scale(0.1)" id="g12">
                        <path fill="currentColor" id="path14" d="M 306.328,383.984 239.102,544.082 171.875,383.984 Z M 6.23438,249.531 175.344,631.406 c 11.781,26.348 33.265,42.285 62.371,42.285 h 6.238 c 29.11,0 49.899,-15.937 61.684,-42.285 L 474.742,249.531 c 3.465,-7.617 5.539,-14.551 5.539,-21.484 0,-28.418 -22.176,-51.289 -50.59,-51.289 -24.949,0 -41.582,14.57 -51.285,36.738 l -32.57,76.231 H 132.371 L 98.4141,210.039 C 89.4063,189.238 71.3828,176.758 49.2031,176.758 21.4844,176.758 0,198.945 0,226.66 c 0,7.637 2.77344,15.254 6.23438,22.871" />
                        <path fill="currentColor" id="path16" d="m 738.066,421.406 c 53.364,0 84.551,31.895 84.551,73.477 v 1.387 c 0,47.812 -33.265,73.457 -86.633,73.457 H 653.512 V 421.406 Z M 546.781,612.695 c 0,29.805 23.567,53.36 53.364,53.36 h 144.851 c 115.734,0 185.734,-68.614 185.734,-167.715 v -1.387 c 0,-112.265 -87.324,-170.488 -196.128,-170.488 h -81.09 v -96.328 c 0,-29.805 -23.567,-53.379 -53.367,-53.379 -29.797,0 -53.364,23.574 -53.364,53.379 v 382.558" />
                        <path fill="currentColor" id="path18" d="m 1374.96,422.109 v 1.387 c 0,83.164 -60.99,152.461 -146.93,152.461 -85.94,0 -145.54,-67.91 -145.54,-151.074 v -1.387 c 0,-83.164 60.99,-152.48 146.92,-152.48 85.95,0 145.55,67.929 145.55,151.093 z m -404.054,0 v 1.387 c 0,137.91 108.814,250.879 258.504,250.879 149.7,0 257.13,-111.582 257.13,-249.492 v -1.387 c 0,-137.93 -108.81,-250.898 -258.51,-250.898 -149.7,0 -257.124,111.582 -257.124,249.511" />
                        <path fill="currentColor" id="path20" d="m 1568.96,616.855 c 0,29.805 23.57,53.36 53.37,53.36 29.8,0 53.36,-23.555 53.36,-53.36 V 230.137 c 0,-29.805 -23.56,-53.379 -53.36,-53.379 -29.8,0 -53.37,23.574 -53.37,53.379 v 386.718" />
                        <path fill="currentColor" id="path22" d="m 2052.71,383.984 -67.23,160.098 -67.23,-160.098 z m -300.09,-134.453 169.1,381.875 c 11.78,26.348 33.26,42.285 62.37,42.285 h 6.24 c 29.11,0 49.9,-15.937 61.68,-42.285 l 169.1,-381.875 c 3.47,-7.617 5.55,-14.551 5.55,-21.484 0,-28.418 -22.18,-51.289 -50.59,-51.289 -24.95,0 -41.59,14.57 -51.28,36.738 l -32.58,76.231 h -213.46 l -33.96,-79.688 c -9.01,-20.801 -27.03,-33.281 -49.2,-33.281 -27.73,0 -49.21,22.187 -49.21,49.902 0,7.637 2.77,15.254 6.24,22.871" />
                        <path fill="currentColor" id="path24" d="m 2334.05,295.977 c 34.65,0 60.3,-25.645 60.3,-58.926 v -1.367 c 0,-33.282 -25.65,-58.926 -60.3,-58.926 -34.66,0 -60.3,25.644 -60.3,58.926 v 1.367 c 0,33.281 25.64,58.926 60.3,58.926" />
                        <path fill="currentColor" id="path26" d="m 2663.13,413.938 -120.1,-126.196 c 3.48,0 7.31,-2.207 11.51,-6.609 4.18,-4.363 9.02,-9.18 14.51,-14.453 5.49,-5.235 11.85,-10.078 19.08,-14.453 7.23,-4.368 15.45,-6.575 24.71,-6.575 11.27,0 20.6,1.887 27.97,5.715 7.36,3.789 13.22,8.809 17.55,15.098 4.32,6.289 7.37,13.594 9.11,21.933 1.73,8.313 9.8,43.79 6.03,79.454 m 81.9,44.211 c 11.21,-34.426 5.27,-108.176 5.27,-126.887 10.43,7.012 21.62,13.371 33.61,19.082 11.99,5.703 24.49,11.594 37.5,17.734 13.01,6.145 26.37,12.93 40.12,20.371 13.71,7.481 27.5,16.446 41.39,26.953 l 0.43,-98.164 c -17.91,-13.359 -38.68,-25.898 -62.21,-37.597 -23.56,-11.707 -48.34,-22.039 -74.28,-30.965 -26.01,-8.891 -52.24,-15.93 -78.69,-21.106 -26.45,-5.156 -51.5,-7.722 -75.21,-7.722 -17.06,0 -32.95,1.511 -47.7,4.551 -14.73,3.035 -27.66,7.8 -38.79,14.304 -11.13,6.504 -20.17,15 -27.11,25.508 -6.93,10.508 -11.11,23.234 -12.56,38.145 -4.04,-0.86 -8.02,-1.473 -11.93,-1.766 -3.89,-0.285 -7.74,-0.434 -11.49,-0.434 -4.62,0 -8.96,0.149 -13,0.434 -4.05,0.293 -7.52,1.414 -10.41,3.289 -2.87,1.914 -5.2,4.98 -6.94,9.219 -1.73,4.218 -2.59,10.293 -2.59,18.164 0,7.012 1.73,13.515 5.21,19.512 3.46,5.996 7.5,11.347 12.13,16.003 4.63,4.661 9.26,8.743 13.87,12.239 4.63,3.554 8.1,6.289 10.41,8.359 16.19,14.016 29.33,25.723 39.45,35.039 10.12,9.356 20.23,20.235 30.35,32.656 10.12,12.43 18.13,22.579 24.06,30.457 5.92,7.883 12.93,17.239 21.02,28.039 8.11,10.84 17.93,24.024 29.47,39.668 11.56,15.645 26.6,35.157 45.1,58.528 3.77,5.242 7.95,10.332 12.58,15.32 4.63,4.981 9.74,9.426 15.39,13.359 5.62,3.946 11.85,7.161 18.63,9.649 6.8,2.492 14.38,3.73 22.77,3.73 13.87,0 24.56,-1.562 32.15,-4.629 7.43,-3.046 12.99,-6.796 16.49,-11.171 3.45,-4.364 5.39,-8.965 6.05,-13.797 0.51,-4.809 0.88,-8.957 0.88,-12.5 0,-7.004 -2.83,-14.739 -8.24,-23.196 -5.57,-8.496 -11.64,-16.66 -18.22,-24.57 -6.7,-7.871 -13.01,-15.098 -18.91,-21.672 -5.94,-6.57 -9.34,-11.492 -10.2,-14.707 0,-9.031 0.63,-17.293 2.02,-24.746 1.31,-7.437 3.1,-14.734 5.29,-21.891 2.23,-7.16 4.45,-14.777 6.84,-22.792" />
                        <path fill="currentColor" id="path28" d="m 2940.53,386.66 c 10.47,0 21.8,2.637 34.18,7.844 12.27,5.242 23.77,11.961 34.38,20.152 10.56,8.203 20.95,19.223 31.05,33.059 10.2,13.848 15.28,25.293 15.28,34.324 0,12.719 -2.39,23.195 -7.15,31.399 -4.87,8.203 -10.71,12.285 -17.64,12.285 -12.52,0 -23.18,-2.285 -32.01,-6.797 -8.83,-4.512 -16.27,-10.371 -22.17,-17.598 -5.94,-7.187 -10.78,-15.39 -14.39,-24.57 -3.62,-9.199 -7.82,-20.547 -12.64,-34.141 -4.77,-13.535 -7.46,-24.707 -8.03,-33.484 -0.56,-8.742 -0.86,-16.223 -0.86,-22.473 z m 57.85,-206.465 c -26.93,0 -50.56,4.981 -70.8,14.993 -20.29,10.007 -37.13,23.484 -50.64,40.386 -13.44,16.906 -23.63,36.457 -30.35,58.672 -6.72,22.219 -10.12,45.559 -10.12,69.953 0,15.996 3.03,35 9.02,57.11 6.08,22.109 12.29,41.726 18.79,58.855 6.45,17.121 14.59,33.449 24.36,48.996 9.76,15.528 21.25,29.219 34.31,41.067 13.09,11.843 27.68,21.25 43.95,28.25 16.25,6.972 34.32,10.488 54.12,10.488 16.17,0 31.27,-2.617 45.16,-7.813 13.88,-5.195 25.93,-12.461 36.19,-21.855 10.33,-9.395 18.34,-20.703 24.14,-33.992 5.78,-13.266 8.67,-28.157 8.67,-44.582 0,-17.52 -5.86,-37.176 -17.62,-58.926 -11.72,-21.785 -25.37,-40.43 -41.05,-55.969 -15.61,-15.535 -34.26,-29.402 -55.78,-41.543 -21.6,-12.137 -45.02,-21.597 -70.18,-28.387 4.36,-7.675 8.62,-14.023 12.81,-19.082 4.2,-5.097 8.52,-9.074 12.86,-11.894 4.33,-2.813 8.88,-4.805 13.71,-5.918 4.8,-1.121 9.9,-1.699 15.41,-1.699 17.34,0 35.6,3.398 54.84,10.183 19.22,6.758 37.93,15.246 56.13,25.442 18.23,10.156 35.43,21.242 51.61,33.269 16.19,11.992 29.9,23.371 41.17,34.106 L 3265,323.516 c -25.41,-27.102 -52.44,-51.055 -81.05,-71.895 -12.42,-8.926 -25.8,-17.707 -40.1,-26.348 -14.31,-8.632 -29.33,-16.289 -45.08,-22.968 -15.76,-6.719 -32.09,-12.071 -49,-16.075 -16.91,-4.023 -34.04,-6.035 -51.39,-6.035" />
                        <path fill="currentColor" id="path30" d="m 3277.56,352.703 c 0,-22.098 -17.81,-40.027 -39.8,-40.027 -22.01,0 -39.84,17.929 -39.84,40.027 0,22.113 17.83,40.039 39.84,40.039 21.99,0 39.8,-17.926 39.8,-40.039" />
                    </g>
                </g>
            </svg>
        </a>
    </div>
</p>

<p>			
    <div class="icons">
        <a href={urlPatreon} target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="91" height="91" viewBox="0 0 24 24">
                <path fill="currentColor" d="M22.957 7.21c-.004-3.064-2.391-5.576-5.191-6.482c-3.478-1.125-8.064-.962-11.384.604C2.357 3.231 1.093 7.391 1.046 11.54c-.039 3.411.302 12.396 5.369 12.46c3.765.047 4.326-4.804 6.068-7.141c1.24-1.662 2.836-2.132 4.801-2.618c3.376-.836 5.678-3.501 5.673-7.031"/>
            </svg>
        </a>
    </div>
</p>

<style>
	.icons {
		color: var(--laranja-claro);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1em;
		margin: 0 auto;
	}

	.icons a {
		display: contents;
		text-decoration: none;
		color: var(--laranja-escuro);
	}

	.icons a:hover {
		color: var(--laranja-medio);
	}
</style>