---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/soundboard">Soundboard</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		padding: 0 1em;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		border-bottom: 4px solid transparent;
		font-weight: bold;
	}
</style>
