---
import { SITE_TITLE } from '../consts';
const playlistURL = 'https://omny.fm/shows/dentro-da-minha-cabe-a/playlists/podcast/embed?style=artwork' + SITE_TITLE
---

<div id="Listen">
	<main>
		<h2>Ouça agora!</h2>
		<div class="player">
			<iframe class="responsive-iframe" src={playlistURL} allow="autoplay; clipboard-write" title={SITE_TITLE}> </iframe>
		</div>
		<h4>Disponível em todas as plataformas digitais</h4>
		<div class="social-links">
			<a href="https://open.spotify.com/show/2iGnW3vcMhbdDD9eYjIv2D" target="_blank">
				<span class="sr-only">Spotify</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24">
					<path fill="currentColor" d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12s12-5.4 12-12S18.66 0 12 0m5.521 17.34c-.24.359-.66.48-1.021.24c-2.82-1.74-6.36-2.101-10.561-1.141c-.418.122-.779-.179-.899-.539c-.12-.421.18-.78.54-.9c4.56-1.021 8.52-.6 11.64 1.32c.42.18.479.659.301 1.02m1.44-3.3c-.301.42-.841.6-1.262.3c-3.239-1.98-8.159-2.58-11.939-1.38c-.479.12-1.02-.12-1.14-.6c-.12-.48.12-1.021.6-1.141C9.6 9.9 15 10.561 18.72 12.84c.361.181.54.78.241 1.2m.12-3.36C15.24 8.4 8.82 8.16 5.16 9.301c-.6.179-1.2-.181-1.38-.721c-.18-.601.18-1.2.72-1.381c4.26-1.26 11.28-1.02 15.721 1.621c.539.3.719 1.02.419 1.56c-.299.421-1.02.599-1.559.3"/>
				</svg>
			</a>
			<a href="https://pca.st/podcast/4977ff30-86aa-013c-9fc9-0acc26574db2" target="_blank">
				<span class="sr-only">Pocket Casts</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24">
					<path fill="currentColor" d="M12 0C5.372 0 0 5.372 0 12s5.372 12 12 12s12-5.372 12-12S18.628 0 12 0m3.564 12A3.564 3.564 0 1 0 12 15.564V17.6a5.6 5.6 0 1 1 5.6-5.6zM19 12a7 7 0 1 0-7 7v2.333a9.333 9.333 0 1 1 0-18.666A9.333 9.333 0 0 1 21.333 12z"/>
				</svg>
			</a>
			<a href="https://www.deezer.com/br/show/1000536752" target="_blank">
				<span class="sr-only">Deezer</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24">
					<path fill="currentColor" d="M18.81 4.16v3.03H24V4.16h-5.19zM6.27 8.38v3.027h5.189V8.38h-5.19zm12.54 0v3.027H24V8.38h-5.19zM6.27 12.594v3.027h5.189v-3.027h-5.19zm6.271 0v3.027h5.19v-3.027h-5.19zm6.27 0v3.027H24v-3.027h-5.19zM0 16.81v3.029h5.19v-3.03H0zm6.27 0v3.029h5.189v-3.03h-5.19zm6.271 0v3.029h5.19v-3.03h-5.19zm6.27 0v3.029H24v-3.03h-5.19Z"/>
				</svg>
			</a>
			<a href="https://music.youtube.com/playlist?list=PLQqTB-4p274-Ojg2tVVpgoMpvxrSd0hKH" target="_blank">
				<span class="sr-only">YouTube Music</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24">
					<path fill="currentColor" d="M12 0C5.376 0 0 5.376 0 12s5.376 12 12 12s12-5.376 12-12S18.624 0 12 0m0 19.104c-3.924 0-7.104-3.18-7.104-7.104S8.076 4.896 12 4.896s7.104 3.18 7.104 7.104s-3.18 7.104-7.104 7.104m0-13.332c-3.432 0-6.228 2.796-6.228 6.228S8.568 18.228 12 18.228s6.228-2.796 6.228-6.228S15.432 5.772 12 5.772M9.684 15.54V8.46L15.816 12z"/>
				</svg>
			</a>
			<a href="https://podcasts.apple.com/br/podcast/dentro-da-minha-cabe%C3%A7a/id1723113198" target="_blank">
				<span class="sr-only">Apple Podcasts</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24">
					<path fill="currentColor" d="M5.34 0A5.328 5.328 0 0 0 0 5.34v13.32A5.328 5.328 0 0 0 5.34 24h13.32A5.328 5.328 0 0 0 24 18.66V5.34A5.328 5.328 0 0 0 18.66 0zm6.525 2.568c2.336 0 4.448.902 6.056 2.587c1.224 1.272 1.912 2.619 2.264 4.392c.12.59.12 2.2.007 2.864a8.506 8.506 0 0 1-3.24 5.296c-.608.46-2.096 1.261-2.336 1.261c-.088 0-.096-.091-.056-.46c.072-.592.144-.715.48-.856c.536-.224 1.448-.874 2.008-1.435a7.644 7.644 0 0 0 2.008-3.536c.208-.824.184-2.656-.048-3.504c-.728-2.696-2.928-4.792-5.624-5.352c-.784-.16-2.208-.16-3 0c-2.728.56-4.984 2.76-5.672 5.528c-.184.752-.184 2.584 0 3.336c.456 1.832 1.64 3.512 3.192 4.512c.304.2.672.408.824.472c.336.144.408.264.472.856c.04.36.03.464-.056.464c-.056 0-.464-.176-.896-.384l-.04-.03c-2.472-1.216-4.056-3.274-4.632-6.012c-.144-.706-.168-2.392-.03-3.04c.36-1.74 1.048-3.1 2.192-4.304c1.648-1.737 3.768-2.656 6.128-2.656zm.134 2.81c.409.004.803.04 1.106.106c2.784.62 4.76 3.408 4.376 6.174c-.152 1.114-.536 2.03-1.216 2.88c-.336.43-1.152 1.15-1.296 1.15c-.023 0-.048-.272-.048-.603v-.605l.416-.496c1.568-1.878 1.456-4.502-.256-6.224c-.664-.67-1.432-1.064-2.424-1.246c-.64-.118-.776-.118-1.448-.008c-1.02.167-1.81.562-2.512 1.256c-1.72 1.704-1.832 4.342-.264 6.222l.413.496v.608c0 .336-.027.608-.06.608c-.03 0-.264-.16-.512-.36l-.034-.011c-.832-.664-1.568-1.842-1.872-2.997c-.184-.698-.184-2.024.008-2.72c.504-1.878 1.888-3.335 3.808-4.019c.41-.145 1.133-.22 1.814-.211zm-.13 2.99c.31 0 .62.06.844.178a2.17 2.17 0 0 1 1.04 1.259c.464 1.578-1.208 2.96-2.72 2.254h-.015c-.712-.331-1.096-.956-1.104-1.77c0-.733.408-1.371 1.112-1.745c.224-.117.534-.176.844-.176zm-.011 4.728c.988-.004 1.706.349 1.97.97c.198.464.124 1.932-.218 4.302c-.232 1.656-.36 2.074-.68 2.356c-.44.39-1.064.498-1.656.288h-.003c-.716-.257-.87-.605-1.164-2.644c-.341-2.37-.416-3.838-.218-4.302c.262-.616.974-.966 1.97-.97z"/>
				</svg>
			</a>
			<a href="https://music.amazon.com/podcasts/1c326d87-2912-4c64-8cac-aec9980b6259/dentro-da-minha-cabe%C3%A7a" target="_blank">
				<span class="sr-only">Amazon Music</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24">
					<path fill="currentColor" d="M14.845 9.408c-1.39 1.02-3.405 1.563-5.142 1.563a9.333 9.333 0 0 1-6.277-2.383c-.131-.117-.014-.277.142-.185a12.693 12.693 0 0 0 6.285 1.658a12.54 12.54 0 0 0 4.791-.977c.236-.098.433.154.203.324zm.579-.656c-.179-.226-1.175-.109-1.623-.055c-.137.016-.158-.103-.035-.187c.796-.556 2.099-.396 2.25-.21c.155.187-.04 1.488-.785 2.11c-.115.096-.224.044-.172-.083c.168-.416.543-1.35.365-1.575m-1.592-4.17v-.54c0-.082.062-.137.137-.137h2.435c.078 0 .14.055.14.135v.464c0 .078-.066.18-.185.34L15.1 6.635c.468-.01.965.06 1.39.297a.243.243 0 0 1 .129.212v.574c0 .082-.089.172-.179.123a2.816 2.816 0 0 0-2.572.006c-.086.045-.174-.045-.174-.125v-.548c0-.088.002-.238.09-.37l1.462-2.089h-1.271c-.078 0-.142-.053-.144-.135zm4.808-.747c1.1 0 1.694.94 1.694 2.133c0 1.153-.656 2.068-1.694 2.068c-1.079 0-1.665-.94-1.665-2.109c0-1.177.594-2.092 1.665-2.092m.006.771c-.545 0-.58.739-.58 1.202c0 .462-.006 1.449.574 1.449c.574 0 .601-.796.601-1.282c0-.318-.014-.7-.11-1.001c-.083-.263-.249-.368-.485-.368m-6.008 3.342c-.049.04-.14.045-.174.016a1.907 1.907 0 0 1-.425-.492c-.406.412-.695.537-1.222.537c-.622 0-1.108-.383-1.108-1.148a1.251 1.251 0 0 1 .79-1.204c.402-.177.964-.208 1.393-.257c0 0 .035-.461-.09-.63a.521.521 0 0 0-.417-.19c-.273 0-.54.147-.593.433c-.014.082-.074.151-.14.143l-.707-.076a.13.13 0 0 1-.11-.154c.163-.865.949-1.128 1.655-1.128c.36 0 .83.097 1.115.367c.36.335.327.78.327 1.268v1.149c0 .344.143.496.279.68c.047.068.057.148-.002.198c-.152.125-.57.488-.57.488zm-.746-1.797v-.16c-.536 0-1.102.115-1.102.743c0 .318.166.533.451.533c.206 0 .394-.127.513-.335c.144-.256.138-.494.138-.781M2.928 7.948c-.047.041-.138.045-.173.016c-.254-.195-.424-.492-.424-.492c-.408.412-.696.537-1.223.537c-.623 0-1.107-.383-1.107-1.148a1.251 1.251 0 0 1 .79-1.204c.401-.177.963-.207 1.392-.257c0 0 .035-.461-.09-.63a.521.521 0 0 0-.417-.19c-.274 0-.539.148-.592.433c-.015.082-.076.151-.14.143l-.71-.076a.13.13 0 0 1-.108-.154c.162-.865.95-1.128 1.655-1.128c.361 0 .83.097 1.116.367c.359.335.324.78.324 1.268v1.149c0 .344.144.496.279.68c.047.068.057.148-.002.198c-.152.125-.57.488-.57.488m-.745-1.797v-.16c-.535 0-1.101.115-1.101.743c0 .318.164.533.45.533c.206 0 .395-.127.514-.334c.143-.257.137-.495.137-.782m2.913-.334v2.002a.138.138 0 0 1-.14.137h-.738a.137.137 0 0 1-.14-.137V4.053a.138.138 0 0 1 .14-.138h.691a.137.137 0 0 1 .138.138v.482h.014c.18-.476.519-.7.974-.7c.464 0 .753.224.962.7a1.052 1.052 0 0 1 1.022-.7c.312 0 .65.127.857.415c.236.318.187.779.187 1.185v2.386c0 .076-.064.135-.144.135h-.738a.137.137 0 0 1-.133-.135V5.817c0-.16.014-.558-.02-.708c-.056-.256-.222-.328-.438-.328a.492.492 0 0 0-.44.312c-.077.19-.07.508-.07.724V7.82c0 .076-.064.135-.144.135h-.739a.137.137 0 0 1-.133-.135V5.817c0-.423.068-1.042-.457-1.042c-.534 0-.513.603-.513 1.042zm16.808 2.002a.137.137 0 0 1-.138.137h-.74a.137.137 0 0 1-.138-.137V4.053a.137.137 0 0 1 .138-.138h.683c.082 0 .14.064.14.107v.576h.014c.205-.517.496-.763 1.009-.763c.332 0 .656.12.863.445c.193.304.193.813.193 1.178v2.379a.14.14 0 0 1-.141.119h-.743a.14.14 0 0 1-.131-.119V5.552c0-.763-.293-.786-.464-.786c-.197 0-.357.154-.424.296a1.703 1.703 0 0 0-.123.722zM.19 20.059c-.127 0-.19-.062-.19-.192v-4.449c0-.127.063-.19.19-.19h.425c.062 0 .113.014.148.039c.035.024.06.073.072.143l.057.304c.613-.419 1.21-.628 1.79-.628c.596 0 .998.226 1.209.677c.632-.451 1.263-.677 1.895-.677c.441 0 .78.123 1.016.37c.236.25.354.602.354 1.058v3.354c0 .127-.065.19-.192.19H6.4c-.128 0-.193-.061-.193-.19v-3.085c0-.319-.062-.554-.18-.706c-.124-.154-.315-.23-.575-.23c-.468 0-.936.144-1.41.43a.997.997 0 0 1 .01.142v3.448c0 .128-.063.191-.19.191h-.566c-.127 0-.19-.061-.19-.19v-3.085c0-.319-.062-.554-.183-.706c-.123-.154-.314-.23-.575-.23a2.6 2.6 0 0 0-1.399.42v3.6c0 .128-.061.191-.19.191zm9.731.143c-.453 0-.8-.127-1.044-.382c-.242-.254-.363-.613-.363-1.077v-3.32c0-.13.062-.193.191-.193h.564c.13 0 .193.063.193.19v3.022c0 .342.066.595.201.757c.133.162.349.242.642.242c.46 0 .923-.152 1.389-.458v-3.565c0-.127.061-.19.19-.19h.565c.129 0 .192.063.192.19v4.452c0 .125-.063.188-.192.188h-.41a.26.26 0 0 1-.15-.037c-.035-.026-.058-.073-.072-.143l-.066-.333c-.595.437-1.204.657-1.83.657m5.44 0c-.537 0-1.02-.088-1.446-.267a.375.375 0 0 1-.158-.105a.308.308 0 0 1-.043-.18v-.269c0-.115.037-.172.115-.172c.045 0 .123.02.238.058c.423.133.862.199 1.313.199c.314 0 .552-.062.714-.181c.164-.121.244-.295.244-.523a.492.492 0 0 0-.148-.373a1.606 1.606 0 0 0-.541-.285l-.815-.304c-.71-.26-1.062-.706-1.062-1.333c0-.415.16-.75.484-1.001c.322-.255.744-.382 1.267-.382a3.487 3.487 0 0 1 1.217.22a.338.338 0 0 1 .164.098c.03.041.047.103.047.185v.258c0 .115-.041.172-.123.172a.862.862 0 0 1-.222-.047a3.55 3.55 0 0 0-1.035-.154c-.612 0-.92.208-.92.62c0 .164.052.295.155.39c.102.096.303.2.603.315l.746.288c.378.143.648.318.815.519c.166.198.248.457.248.775c0 .451-.168.81-.507 1.077c-.338.266-.788.4-1.35.4zm3.065-.144c-.127 0-.193-.061-.193-.19v-4.45c0-.127.066-.19.193-.19h.564c.127 0 .193.063.193.19v4.452c0 .125-.066.188-.193.188zm.287-5.688c-.185 0-.33-.051-.437-.156a.558.558 0 0 1-.158-.414a.56.56 0 0 1 .158-.414a.59.59 0 0 1 .437-.158c.185 0 .328.053.435.158a.549.549 0 0 1 .158.414c0 .17-.051.308-.158.414a.596.596 0 0 1-.435.156m4.002 5.793c-.753 0-1.33-.213-1.727-.642c-.4-.43-.6-1.05-.6-1.863c0-.806.206-1.432.618-1.873c.41-.44.995-.662 1.748-.662c.344 0 .683.062 1.015.183c.07.024.12.055.148.094s.043.103.043.19v.257c0 .127-.041.19-.123.19a.605.605 0 0 1-.154-.028a2.83 2.83 0 0 0-.796-.113c-.535 0-.923.134-1.159.404s-.353.7-.353 1.293v.123c0 .576.12 1 .36 1.272c.24.268.617.404 1.134.404c.266 0 .554-.043.861-.134a.614.614 0 0 1 .144-.028c.082 0 .125.063.125.19v.259c0 .082-.012.143-.039.18a.329.329 0 0 1-.152.103c-.314.135-.677.2-1.093.2z"/>
				</svg>
			</a>	
			<a href="https://castbox.fm/channel/Dentro-da-Minha-Cabe%C3%A7a-id5733065?country=br" target="_blank">
				<span class="sr-only">Castbox</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24">
					<path fill="currentColor" d="M12 0c-.29 0-.58.068-.812.206L2.417 5.392c-.46.272-.804.875-.804 1.408v10.4c0 .533.344 1.135.804 1.407l8.77 5.187c.465.275 1.162.275 1.626 0l8.77-5.187c.46-.272.804-.874.804-1.407V6.8c0-.533-.344-1.136-.804-1.408L12.813.206A1.618 1.618 0 0 0 12 0m-.85 8.304c.394 0 .714.303.714.676v2.224c0 .207.191.375.427.375s.428-.168.428-.375V9.57c0-.373.32-.675.713-.675c.394 0 .712.302.712.675v4.713c0 .374-.318.676-.712.676c-.394 0-.713-.302-.713-.676v-1.31c0-.206-.192-.374-.428-.374s-.427.168-.427.374v1.226c0 .374-.32.676-.713.676c-.394 0-.713-.302-.713-.676v-1.667c0-.207-.192-.375-.428-.375c-.235 0-.427.168-.427.375v3.31c0 .373-.319.676-.712.676c-.394 0-.713-.303-.713-.676v-2.427c0-.206-.191-.374-.428-.374c-.235 0-.427.168-.427.374v.178a.71.71 0 0 1-.712.708a.71.71 0 0 1-.713-.708V11.47a.71.71 0 0 1 .713-.708a.71.71 0 0 1 .712.708v.178c0 .206.192.373.427.373c.237 0 .428-.167.428-.373v-1.53c0-.374.32-.676.713-.676c.393 0 .712.303.712.676v.646c0 .206.192.374.427.374c.236 0 .428-.168.428-.374V8.98c0-.373.319-.676.713-.676zm4.562 2.416c.393 0 .713.302.713.676v2.691c0 .374-.32.676-.713.676c-.394 0-.712-.303-.712-.676v-2.691c0-.374.319-.676.712-.676m2.28 1.368c.395 0 .713.303.713.676v.67c0 .374-.318.676-.712.676c-.394 0-.713-.302-.713-.675v-.67c0-.374.32-.677.713-.677Z"/>
				</svg>
			</a>	
			<a href="https://podcastaddict.com/podcast/dentro-da-minha-cabeca/4810061" target="_blank">
				<span class="sr-only">Podcast Addict</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24">
					<path fill="currentColor" d="M5.36.037C2.41.037 0 2.447 0 5.397v13.207c0 2.95 2.41 5.36 5.36 5.36h13.28c2.945 0 5.36-2.41 5.36-5.36V5.396c0-2.95-2.415-5.36-5.36-5.36zm6.585 4.285a7.72 7.72 0 0 1 7.717 7.544l.005 7.896h-3.39v-1.326a7.68 7.68 0 0 1-4.327 1.326a7.777 7.777 0 0 1-2.384-.378v-4.63a3.647 3.647 0 0 0 2.416.91a3.666 3.666 0 0 0 3.599-2.97h-1.284a2.416 2.416 0 0 1-4.73-.66v-.031c0-1.095.728-2.023 1.728-2.316V8.403a3.67 3.67 0 0 0-2.975 3.6v6.852a7.72 7.72 0 0 1 3.625-14.533m.031 1.87V7.43h.006a4.575 4.575 0 0 1 4.573 4.574v.01h1.237v-.01a5.81 5.81 0 0 0-5.81-5.81zm0 2.149v1.246h.006a2.413 2.413 0 0 1 2.415 2.416v.01h1.247v-.01a3.662 3.662 0 0 0-3.662-3.662zm0 2.252c-.78 0-1.409.629-1.409 1.41c0 .78.629 1.409 1.41 1.409c.78 0 1.409-.629 1.409-1.41c0-.78-.629-1.409-1.41-1.409"/>
				</svg>
			</a>	
		</div>
		<h4>Ou assine através do nosso feed RSS</h4>
		<div class="social-links">
			<a href="https://www.omnycontent.com/d/playlist/f7f86f6a-2fbd-4ac7-ab53-b01900e5d187/b827e1e5-e175-4b5e-adcd-b0e4012281f7/b938fccb-6790-4ee1-8dd0-b0e40123233a/podcast.rss" target="_blank">
				<span class="sr-only">Amazon Music</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24">
					<path fill="currentColor" d="M19.199 24C19.199 13.467 10.533 4.8 0 4.8V0c13.165 0 24 10.835 24 24zM3.291 17.415a3.3 3.3 0 0 1 3.293 3.295A3.303 3.303 0 0 1 3.283 24C1.47 24 0 22.526 0 20.71s1.475-3.294 3.291-3.295M15.909 24h-4.665c0-6.169-5.075-11.245-11.244-11.245V8.09c8.727 0 15.909 7.184 15.909 15.91"/>
				</svg>
			</a>
		</div>
	</main>
</div>
<style>
	div {
		background-color: var(--amarelo);
	}

	main {
		padding: 3em auto;
	}

	h2 {
		text-align: center;
		color: var(--azul-claro);
		margin: 0 auto;
	}

	h4 {
		text-align: center;
		color: var(--azul-claro);
		margin: 1em auto;
	}

	.player {
		margin: 1em auto;
  		position: relative;
		overflow: hidden;
		width: 100%;
		padding-top: 100%;
	}

	.responsive-iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}

	.social-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1em;
		margin: 1em auto 0;
	}

	.social-links a {
		text-decoration: none;
		color: var(--azul-claro);
	}

	.social-links a:hover {
		color: var(--azul-escuro);
	}
</style>
