---
const logo = './pelada-na-net.png';
---

<div class="logo">
	<img src={logo} />
</div>
<style>
	div {
		background-color: var(--azul-medio);
		line-height: 0;
	}

	.logo {
		text-align: center;
		margin: 1em auto 2em;
	}
</style>
