---
const logo = './dentro-da-minha-cabeca-bg.png';
---

<div>
	<main>
		<h1>Eu sou o Príncipe Vidane, e você está</h1>
		<img src={logo} />
	</main>
</div>
<style>
	div {
		background-color: var(--vermelho);
		line-height: 0;
	}

	main {
		padding: 3em 1em 0;
	}

	h1 {
		text-align: center;
		margin: 0 auto;
	}
</style>
