---
import Podcast from './Podcast.astro';
---

<div id="Podcasts" class="secondary-main">
	<main>
		<div class="title">
			<h2>Ei, dá uma chance pros meus podcasts?</h2>
		</div>
		<div class="podcasts">
			<Podcast title="Pelada na Net" id="pelada-na-net" url="https://peladananet.com.br" 
				description="Meu podcast de futebol com uma pegada bem humorada, no ar desde 2012"/>
			<Podcast title="Dentro da minha cabeça" id="dentro-da-minha-cabeca" url="https://dentrodaminhacabeca.com.br" 
				description="Iniciado em 2024, o título diz tudo: falo de qualquer coisa que estiver na minha mente!"/>
			<Podcast title="Vai te Catar" id="vai-te-catar" url="https://jovemnerd.com.br/podcasts/vaitecatar" 
				description="Podcast de futebol que rolou lá no feed do Nerdcast (Jovem Nerd) durante a Copa de 2022!"/>
			<Podcast title="Mau Acompanhado" id="mau-acompanhado" url="https://jovemnerd.com.br/podcasts/mau-acompanhado" 
				description="Programa de fofoca iniciado em 2023 com meus queridos Mau Faccio e Mary Joe!"/>
			<Podcast title="Reinaldo Jaqueline" id="reinaldo-jaqueline" url="https://reinaldojaqueline.com.br" 
				description="Um podcast de cultura pop que queria ser programa de auditório, com Nicolas Queiros e Vitor Soares"/>
			<Podcast title="Pauta Livre News" id="pauta-livre-news" url="https://omny.fm/shows/pauta-livre-news/playlists/podcast" 
				description="Eu, Doug Lira, Guizaum e Mau Faccio comandamos um programa caótico sobre tudo e nada!"/>
			<Podcast title="Radiofobia" id="radiofobia" url="https://radiofobia.com.br" 
				description="Sou orgulhosamente um membro do esquadrão Radiofobético desde 2011!"/>
		</div>
	</main>
</div>