<div id="Podcasts">
	<main>
		<div class="title">
			<h2>Fazer podcasts é meu verdadeiro lance</h2>
		</div>
		<div class="text">
			<p>Comecei com edição de áudio antes de saber o que era podcast: fiz programas de rádio on-line (Ponão ao Vivo, O Show da Virada) e comecei editando quadros para eles.</p>

			<p>Aí veio o Mesa Quadrada Futebol Combate em 2010, onde fui convidado para gravar e acabei me tornando host e editor com o tempo.</p>

			<p>Em 2011 veio o concurso para novo integrante do Radiofobia que eu venci, tendo a honra de gravar com grandes nomes da podosfera e da cultura pop brasileira – como alguns ídolos dubladores com quem eu jamais pensei que pudesse conversar.</p>

			<p>No ano seguinte, surgiu o amor da minha vida. Criei o Pelada na Net, um podcast para que eu e uns amigos pudessemos falar sobre futebol sem perder nosso bom humor. O Peladinha já me trouxe convite para estar no palco de duas Comic-Con Experience, é minha segunda fonte de renda (graças ao financiamento coletivo através do Padrim) e é a minha principal realização enquanto produtor de conteúdo. É, sem sombra de dúvidas, onde eu consigo me soltar mais – tanto quanto apresentador quanto como editor.</p>

			<p>Também fiz parte de um podcast do qual era muito fã, o Pauta Livre News – que acabou em 2016. Tenho saudades da galera, e confesso que voltar com o PLN passa pela minha cabeça pelo menos umas cinco vezes ao ano. Mas quando me lembro que acabou porque tinha que acabar, a vontade passa. Fica a saudade e o orgulho de ter participado.</p>

			<p>Ops, em 2019 eu tive que atualizar esse texto. Pois é. Porque o Pauta Livre News voltou. E eu estou feliz da vida com isso.</p>

			<p>E cá estamos, 2023, atualizando mais uma vez. No meio de 2022 fui convidado pelo meu querido irmão Mau Faccio para realizar um trabalho dos sonhos: falar de futebol com um podcast no feed do NerdCast, o Vai te Catar, sobre a Copa do Mundo de 2022.</p>

			<p>A partir daí, foi só alegria. Em novembro e dezembro nós fizemos uma cobertura diária da Copa do Mundo, em 29 episódios, e o projeto foi bem demais. Tão bem que logo em janeiro de 2023 ele teve continuidade, e nasceu o Mau Acompanhado – um podcast de fofocas. O resto é história, que segue sendo contada hoje em dia.</p>

			<p>E em 2024, comecei um projeto chamado Dentro da minha cabeça. Pra eu colocar meus devaneios pro mundo inteiro julgar.</p>
		</div>
	</main>
</div>