<div id="Texts">
	<main>
		<div class="title">
			<h2>Às vezes, escrevo uns textões</h2>
		</div>
		<p><br/></p>
		<div class="text">
			<h4><i>11 de Abril de 2018</i></h4>

			<h3>meu cachorro destruiu a minha casa</h3>
			<p><br/></p>

			<blockquote>Peguei o Gabu em 29 de Julho de 2017. Um labrador amarelo, nascido em 15 de Junho do mesmo ano, que resolvi nomear Galvão Bueno.</blockquote>
			<p><br/></p>

			<blockquote>Mal sabia eu que em Janeiro ia ter que reformar um apartamento alugado porque ele comeria o meu carpete. E meu sofá. E dois pufes da sala. E dois colchões. E as cadeiras da cozinha. E a cômoda recém-comprada por mim e pela minha namorada. E três pares de chinelo (só contando os meus). E o outro sofá que tive que colocar uma capa porque ele também começou a comer.</blockquote>
			<p><br/></p>

			<blockquote>Mas pergunte se me arrependo. Nunca. O Gabu salvou a minha vida. Me dá alegria, me dá vontade de viver. Me coloca pra cima quando eu estou pra baixo.</blockquote>
			<p><br/></p>
			
			<blockquote>Dormi no chão, com ele, na primeira noite dele em meu apartamento. Chorei na primeira vez que ele sentou por um petisco. Sofri como um condenado na primeira vez que saí de casa para ir ao trabalho e deixei ele lá. Comecei uma rotina de alugar carros para levá-lo comigo no final de semana, pra que não fiquemos separados.</blockquote>
			<p><br/></p>
			
			<blockquote>Se possível, Gabu, não destrua mais as minhas coisas. Mas, se for muito necessário, pode destruir. Você vale a pena.</blockquote>
			<p><br/></p>
		</div>
	</main>
</div>