<div id="Videos">
	<main>
		<div class="title">
			<h2>Mas eu faço uns vídeos também</h2>
		</div>
		<div class="text">
			<p>Uma das paradas que mais tive orgulho de produzir foi Rebosteio. Estive com o Xande desde o início, fui por muito tempo o único dublador e também escrevia roteiros para esquetes. Fiquei dois anos com o Xande, vi o canal alcançar grandes marcas (passamos dos 100 mil inscritos, o que na época era uma raridade inacreditável) e tive que deixar o projeto para focar na faculdade. e enfim me formar.</p>

			<p>Fizemos muitas coisas juntos – até mesmo um piloto para o Casseta & Planeta que ninguém nunca viu e trabalhos junto com nossos amigões do Galo Frito. Sigo tendo muito orgulho de tudo o que produzimos tudo – o Xande é meu irmão e o melhor parceiro profissional que já tive na minha vida. Somos, ainda, duas mentes que se conectam muito bem.</p>

			<p>Criei também o canal Versão Brasihueira, que era só uma desculpa para que eu e um amigo fizessemos traduções bizarras de jogos que gostavamos muito. Nunca foi um projeto pra “dar certo”, mas até que deu. Muita gente conhece o Cobra Comedor, por exemplo – o que me deixa um tanto feliz. Vira e mexe tenho vontade de criar vídeos novos lá. Uma hora aparece.</p>

			<p>Produzo vídeos como meta para o Padrim do Pelada na Net. Mensalmente, acabo editando dois ou mais vídeos – sejam gameplays ou o que quer que apareça pela frente. Gosto bastante de editar vídeos também, apesar de achar extremamente trabalhoso.</p>

			<p>Além de tudo isso, teve uma época em que descobri nas lives da Twitch uma nova paixão. Jogar videogame eu já jogava – mas jogar com a galera assistindo, é muito mais divertido.</p>
		</div>
	</main>
</div>